[Unit]
Description=amdgpu-fancontrol
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
Type=simple
ExecStart=/usr/bin/amdgpu-fancontrol
Restart=on-failure

[Install]
WantedBy=multi-user.target
