[Unit]
Description=amdgpu-fancontrol

[Service]
Type=simple
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/amdgpu-fancontrol
Restart=on-failure

[Install]
WantedBy=multi-user.target
